@page
@model IdentityProvider.Pages.Account.Manage.IndexModel
@using Microsoft.AspNetCore.Identity
@using IdentityProvider.Models
@using Microsoft.IdentityModel.Tokens
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    var user = await UserManager.GetUserAsync(User);
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">

        @if (user != null && !string.IsNullOrEmpty(user.Photo))
        {
            <div class="form-group">
                <img class="rounded-circle me-1" height="200" src="data:image;base64,@System.Convert.ToBase64String(Base64UrlEncoder.DecodeBytes(user!.Photo))" />
            </div>
                
        }

        <a class="nav-link" asp-page="/Account/VerifyPhone">Add phone number</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
